body {
    background-color: rgba(255, 0, 0, 1);
    color: #000;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 100;
}

.page-header {
    border: none;
    margin-bottom: 40px;
}

h1 {
    font-weight: 100;
}

.session {
    margin-right: 10px;
}

.break {
    margin-left: 10px;
}

.inlineb {
    display: inline-block;
}

.custom p {
    font-size: 20px;
}

.timer-count {
    font-size: 160px;
}

.btn {
    background: none;
    border: none;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus,
.btn-default:active:hover {
    background: none;
    border: none;
}

.btn-lg {
    font-size: 32px;
}


@media only screen and (min-width : 320px) {
    h1 {
        display: none;
    }

    .session, .break {
        margin-right: 25px;
    }

    .break {
        margin-left: 25px;
    }

    .custom p {
        font-size: 40px;
    }

    .timer-count {
        font-size: 210px;
    }

    .btn-lg {
        font-size: 50px;
    }

    button span {
        font-size: 20px;
    }
}

@media only screen and (min-width : 480px) {

}


@media only screen and (min-width : 768px) {

}