body {
    background-color: rgba(255, 0, 0, 1);
    color: #000;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 100;
}

.page-header {
    border: none;
    margin-bottom: 40px;
}

.inlineb {
    display: inline-block;
}

.btn {
    background: none;
    border: none;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus,
.btn-default:active:hover {
    background: none;
    border: none;
}

@media only screen and (min-width : 320px) and (orientation:portrait){
    .container {
        padding-top: 150px;
    }
    h1 {
        display: none;
    }

    .session {
        margin-right: 25px;
    }

    .break {
        margin-left: 25px;
    }

    .custom p {
        font-size: 45px;
    }

    .timer-count {
        font-size: 210px;
    }

    .controls span {
        font-size: 50px;
    }

    button span {
        font-size: 25px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width : 320px) and (orientation:landscape){

    h1 {
        display: none;
    }

    .session {
        margin-right: 25px;
    }

    .break {
        margin-left: 25px;
    }

    .custom {
        margin-top: -30px;
    }

    .custom p {
        font-size: 25px;
    }

    .timer-count {
        margin-top: -20px;
        font-size: 150px;
    }

    .controls {
        margin-top: -10px;
    }

    .controls span {
        font-size: 35px;
    }

    button span {
        font-size: 16px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width : 768px)  and (orientation:landscape){
    h1 {
        display: none;
    }

    .session {
        margin-right: 25px;
    }

    .break {
        margin-left: 25px;
    }

    .custom p {
        font-size: 40px;
    }

    .timer-count {
        font-size: 250px;
    }

    .controls span {
        font-size: 50px;
    }

    button span {
        font-size: 20px;
        padding-bottom: 20px;
    }
}

@media only screen and (min-width : 992px) {
    h1 {
        display: inline-block;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .session {
        margin-right: 10px;
    }

    .break {
        margin-left: 10px;
    }

    .custom p {
        font-size: 20px;
    }

    .timer-count {
        font-size: 160px;
    }

    button span {
        font-size: 16px;
        padding-bottom: 10px;
    }

    .controls span {
        font-size: 40px;
    }
}

@media only screen and (min-width : 1200px) {
    h1 {
        display: inline-block;
        font-weight: 100;
        margin-bottom: 20px;
    }

    .session {
        margin-right: 25px;
    }

    .break {
        margin-left: 25px;
    }

    .custom p {
        font-size: 25px;
    }

    .timer-count {
        font-size: 160px;
    }

    button span {
        font-size: 16px;
        padding-bottom: 15px;
    }

    .controls button span {
        font-size: 40px;
    }
}